<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, class: 'action show' %> |
<%= link_to 'List all users', users_path, class: 'action list' %> |
<%= link_to 'Back', request.referer || users_path, class: 'action back' %>

