/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
  height:100%;
  body{
    height:100%;
    #banner {
      background: #9BC;
      padding: 10px;
      border-bottom: 2px solid;
      font: small-caps 40px/40px "Times New Roman", serif;
      color: #145;
      text-align: center;
      img {
        float: left;
        max-height:40px;
      }
    }
    #notice {
      color: #000 !important;
      border: 2px solid red;
      padding: 1em;
      margin-bottom: 2em;
      background-color: #f0f0f0;
      font: bold smaller sans-serif;
    }
    #columns {
      background: #114;
      height:100%;
      #main {
        margin-left: 17em;
        padding: 1em;
        background: white;
        height:100%;
      }
      #side {
        float: left;
        padding: 1em 2em;
        width: 13em;
        background: #114;
        height:100%;
        ul {
          padding: 0;
          li {
            list-style: none;
            a {
              color: #bfb;
              font-size: small;
            }
            ul{
              margin-left:10px;
              li{
                
              }
            }
          }
        }
        .welcome{
          color: #fff;
          margin-bottom: 10px;
        }
      }
    }
    table{
      width:100%;
      border-spacing:0px;
      border-collapse:collapse;
      th{
        color:#fff;
        border:#000 1px solid;
      }
      tr{
        &.header{
          background-color:#777;
        }
        &.alternate{
          background-color:#aaa;
        }
        td{
          border:1px solid;
          vertical-align:middle;
          text-align:center;
          &.action{
            width:24px;
          }
        }
      }
    }
    form {
      .vertical-group{
        width:300px;
        fieldset{
          div{
            max-height:300px;
            overflow-y:auto;
          }
        }
      }
      label{
        display:inline-block;
        float:left;
      }
      label.collected-on{
        width:100px;
      }
      input{
      }
    }
    .clear{
      clear:both;
      float:none;
    }
    a{
      &.icon{
        max-width:16px;
        max-height:16px;
        line-height:16px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        background-color:transparent;
        img{
          height: 16px;
          width:16px;
          opacity:1;
        }
        &:hover{
          img{
            opacity:0.6;
          }
        }
      }
      &.action{
        padding-left: 18px;
        color:#000;
        text-decoration:none;
        background: {
          size: 16px;
          repeat: no-repeat;
        }
        &:hover{
          background-color:#fff;
          font-style:italic;
        }
        &.add-new{
          background: {
            image: image-url("ui-icons/document_add-128.png");
          }
        }
        &.back{
          background: {
            image: image-url("ui-icons/arrowleft-128.png");
          }
        }
        &.edit{
          background: {
            image: image-url("ui-icons/pen-128.png");
          }
        }
        &.list{
          background: {
            image: image-url("ui-icons/list-128.png");
          }
        }
        &.show{
          background: {
            image: image-url("ui-icons/eye-128.png");
          }
        }
      }
    }
  }
}
